@import '../../content/_variables';
  
.mat-sidenav {
  color:white;
  // background-color: $card-background-color;
}
.mat-list-item-content{
  color:white;
  font-size: 1.1em;
}
  .main{
    padding: 10px 10px 0 10px;
  }

fieldset {
  background-color: black;
}

nav.sidebar {
  background-color: lighten($background-color, 12%);
  color: white;
  border:0;
  height: 100%;
}
.navbar-default>li a {
  color: white;
}

.navbar-nav > li > a {
   padding-top:2px;
      padding-bottom:2px;
      color: white;
font-size: 1.2em;
    }

li.subheading  {
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1em;
  background-color: gray;
}

li > 
th {
    background-color: black;
    color: white;
}
tbody {
    color: white;
    background-color: $table-body-color;
}
td {
    color: white;
    
}

table .table .table-responsive .table-condensed {
    border-radius: 5px;
}


 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }
.navbar-nav > li > a {
   padding-top:2px;
      padding-bottom:2px;
      color: white;
}
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

   
    nav.sidebar .navbar-nav > li{
      // border-bottom: 1px #e5e5e5 solid;
      padding-top:2px;
      padding-bottom:2px;
    }

   
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
     
      height: 100%;
      // margin-left: -160px;
     
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  div {
      color: $brand-color;
  }
  .sectionTitle {
      font-size: 1.2em;
      font-weight: 700px;
      border-radius: 5px;
      padding-left: 20px;
      padding-top:12px;
      padding-bottom:12px;
      background-color: $card-background-color;
  }
  .content-wrapper {
      margin-right: 12px;
  }
  .mat-table {
    background-color: black;
    font-size: 1em;
  }
  th {
    background-color: $card-background-color;
    color: white;
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  tbody {
    color: white;
  }
  
  table .table .table-responsive .table-condensed {
    border-radius: 5px;
  }
  div {
    color: $brand-color;
  }
  .mat-raised-button .mat-button {
    background-color: $brand-color;
    color: $card-background-color;
  }
  .mat-cell,
  .mat-header-cell {
    font-size: 1.1em;
  }
  .mat-cell {
    // display:block; // flex prevents padding from working
    // min-height:auto; // overrides the 'inherit' that set the min height of the row
    padding: 12px 8px 12px 4px;
  }
  .mat-select {
    color: $basketball-color;
  }
  .map-select-arrow-wrapper {
    color: $basketball-color;
  }
  .mat-form-field {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    color: $basketball-color;
    background-color: $card-background-color;
  }
  .ng-star-inserted {
    color: $basketball-color;
  }
  .mat-checkbox {
    background-color: $card-background-color;
    color: $brand-color;
  }
  .mat-raised-button {
    background-color: $brand-color;
    color: $card-background-color;
  }
  
  