@use '../../../../Content/variables' as v;

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mat-toolbar {
  height: 80px;
}
.sidenav-container {
 height: 820px;
}
.mat-drawer-content {
  overflow: hidden;
  background-color: v.$admin-card-background-color;
}
h2 {
  font-weight: 800 !important;
  font-size: 1.4rem  !important;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
