$sidebar-background-color: #232323;
$sidebar-color: orange;
$background-color: black;
$sidebar-pill-background: orange;
$panel-default-heading-background: #000000;
$basketball-color: #d17b00;
$brand-color: #d17b00; //#ff5600
$table-body-color: #424242;
$table-font-color: #fce9cd;
$navbar-background-color: #212121;

$navbar-color: #d17b00;
$sidebar-menu: lighten( black, 12%);
$card-background-color: darken(#3f3f3f, 10%);
$card-background-color-shadow: darken(#3f3f3f, 40%);
$card-color: lighten(#d17b00, 20%);
$status-bar-background: #000000;
$app-bar-background: #212121;
$color: #d17b00;
$card-sub-title-color: #3a5794;

$border-radius: 10px;
$font-color-text: rgba(240, 235, 235, 0.925);
$field-label:rgb(245, 245, 245);