<mat-card class="dashboard-card">
  <mat-card-content>
    <div class="flex justify-around items-center py-2">
      <div class="text-center">
        <div class="text-3xl font-bold">{{ divisionCount() }}</div>
        <div class="text-sm uppercase tracking-wide">Divisions</div>
      </div>
      <div class="text-center">
        <div class="text-3xl font-bold">{{ teamCount() }}</div>
        <div class="text-sm uppercase tracking-wide">Teams</div>
      </div>
      <div class="text-center">
        <div class="text-3xl font-bold">{{ playerCount() }}</div>
        <div class="text-sm uppercase tracking-wide">Players</div>
      </div>
      <div class="text-center">
        <div class="text-3xl font-bold">{{ gameCount() }}</div>
        <div class="text-sm uppercase tracking-wide">Games</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
