@use "sass:color";
@use "./../../../Content/variables" as v;

.mat-sidenav-container {
  background-color: v.$background-color;
}

.mat-toolbar.top-nav-toolbar {
  background-color: v.$background-color;
  color: v.$brand-color;
  text-align: right;
  border-bottom: 2px solid v.$brand-color;
}

a {
  font-size: 1.5em;
  font-weight: 400;
  color: v.$navbar-color !important;
}

.activelink {
  background-color: v.$navbar-background-color;
  color: color.adjust(v.$navbar-color, $lightness: 50%);
}

ul > li {
  display: inline-block;
  padding: 4% 4%;
  width: 30%;
}

.fill-space {
  flex: 1 1 auto;
}

.navbar-brand {
  color: v.$brand-color;
  font-size: 1.5em;
  font-weight: 800;
}

.navbar {
  background-color: v.$navbar-background-color;
  color: v.$navbar-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar-inverse {
  background-color: v.$navbar-background-color;
}

.navbar-inverse .navbar-brand {
  color: v.$navbar-background-color;
}

.navbar-inverse .navbar-nav li a {
  color: v.$navbar-color;
}

.navbar-inverse .navbar-nav .active > a {
  background-color: v.$navbar-background-color;
  color: white;
}

.navbar-inverse .navbar-nav .active:hover > a {
  background-color: v.$navbar-background-color;
  color: white;
}

.navbar .brand-title {
  margin-left: 2em;
  color: v.$navbar-color;
}

.navbar-logo img {
  height: 20px;
}

.mat-toolbar {
  font-size: 0.9em;
}

p {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

button {
  background-color: v.$navbar-color;
  font-weight: 600;
}

.menu-button {
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
}

a.brand {
  color: v.$navbar-color;
  font-size: v.$heading-font-size;
  margin-right: 12px;
  font-variant: small-caps;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.5rem;
}

.menu-spacer {
  width: 80px;
}
.mat-toolbar-row {
  padding: 4 20px;
  height: 46px;
}
.csbc {
  background-color: v.$csbc-background-color;
}
