.filter-field {
  flex: 1;
  min-width: 200px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-top: -8px;
}

@media (max-width: 768px) {
  .filter-field {
    width: 100%;
  }

  .checkbox-field {
    margin-top: 0;
  }
}
