@use "variables" as v;

.mat-card,
.mat-mdc-card {
  background-color: v.$admin-card-background-color;
  padding-top: 4px;
  border-radius: 10px;
  border: 1px solid v.$table-border-color;
  margin-top: 4px;
  margin-bottom: 4px;
}
.mat-mdc-card-title {
  color: v.$brand-color;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.mat-mdc-card-subtitle {
  color: v.$brand-color;
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.mat-mdc-card-content {
  display: block;
  padding: 10px;
}
