@use '../../../Content/variables' as v;

.mat-card, .mat-mdc-card {
  background-color: v.$admin-card-background-color;
  padding-top: 4px;
  border-radius: 5px;
  border: 1px solid v.$table-border-color;
  margin-top: 4px;
  margin-bottom: 4px;
}
.mat-mdc-card-title {
  color: v.$brand-color;
  font-size: 1.4rem;
  font-weight: 800;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;

}

.mat-mdc-card-content {
  display: block;
  padding: 10px;
}
