@use 'sass:color';
@use "../../../Content/variables" as v;

:host {
  display: flex;
  flex-direction: column;
}

// form {
//  background-color: color.adjust(v.$card-background-color, $lightness: 10%);
  // padding: 16px;
// }

h2 {
  color: v.$color;
}

.form-heading {
  color: v.$color;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .9rem;
  // padding-bottom: 12px;
  color: pink
}
.field-label {
  color: v.$field-label !important;
  font-size: 1.1rem;
  font-weight: 600;
}

select {
  width: 100%;
  padding: .9rem;
}

input,
textarea,
select {
  width: 100%;
}

input {
  height: 3rem;
}

.mdc-text-field {
  background-color: v.$card-background-color;
}

.mdc-text-field--filled:not {
  background-color: v.$card-background-color !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: v.$background-color !important;
}

.mat-label {
  color: v.$admin-font-color !important;
  font-size: .9rem;
  font-weight: 800;
  // padding-bottom: 6px;
  // padding-left: 12px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: v.$field-label !important;
  font-size: v.$input-font-size;
  font-weight: 700;
  padding-bottom: 6px;
  padding-left: 12px;

}

.mdc-text-field__input {
  color: v.$field-label !important;
  font-size: v.$input-font-size;
  font-weight: 700;
  // padding-bottom: 6px;
  // padding-left: 12px;
}

div.mat-mdc-select-panel {
  background-color: v.$card-background-color !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: v.$field-label !important;
  font-size: v.$input-font-size;
  font-weight: 500;
}

.mdc-list-item__primary-text {
  color: color.adjust(v.$field-label, $lightness: -50%) !important;
}

.mdc-list-item__primary-text {
  color: v.$field-label !important;
}

.mdc-list-item__primary-text:selected {
  color: yellow !important;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: v.$brand-color !important;
}

.mat-mdc-form-field {
  padding-right: 12px;
}

::ng-deep .mat-mdc-input-element {
  caret-color: white;
  color: white;
}

.button-row {
  margin-right: 8px;
}

button {
  margin-right: 12px;
}

.mat-select-value-text {
  color: v.$admin-font-color;
  font-size: v.$select-font-size !important;
  font-weight: 500;
}

.mat-option-text {
  color: v.$admin-font-color;
  font-size: .9rem !important;
  background-color: v.$admin-background-color;
}

.mat-select-panel {
  background-color: v.$admin-background-color;
}

.mat-form-field {
  display: inline-flex;
}

fieldset {
  border: .5px solid color.adjust(v.$color, $lightness: 50%);
  border-radius: v.$border-radius;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
input:-moz-placeholder { /* Firefox 18- */
  color: red;
}

input::placeholder {
   opacity: 1 !important;
   color: #FFF !important;
}
::ng-deep .mat-form-field-placeholder {
  color: #757575; /* Adjust color as needed */
  font-size: .8em !important;
}

mat-form-field input::placeholder {
   opacity: 1 !important;
   color: v.$admin-input-hint-color !important;
}
.mat-mdc-select-arrow svg {
  color: v.$admin-font-color;
}
.mat-select {
  background-color: color.adjust(v.$admin-background-color, $lightness: 20%);
}

/* calendar */
.mat-datepicker-content {
  background-color: color.adjust(v.$admin-background-color, $lightness: 20%) !important;
}

.mat-calendar-body-cell-content {
  color: v.$admin-font-color !important;
}

/* checkbox */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: orange !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: orange !important;
}
.mdc-checkbox__background {
  background-color: white !important;
}
.mdc-checkbox__checkmark {
  color:#a94442 !important;
}
.mat-mdc-form-field-hint {
  color: v.$admin-font-color !important;
}
