@use "./../../../Content/variables" as v;

#topMenu {
  height: 70px;
  text-align: center;
  margin-top: 40px;
  color: #383434;
  line-height: 45px;
  text-transform: uppercase;
  font: 16px/22px "Trebuchet MS", Helvetica, sans-serif;
}

#topMenu a {
  color: #383434;
  padding: 0 4px 0 4px;
  white-space: nowrap;
  font-weight: bold;
  line-height: 45px;
}

#topMenu a:hover,
#topMenu a.active {
  color: #fff;
  text-decoration: none;
}

.mat-tab-label .mat-tab-label-content {
  color: v.$color !important;
  font-size: 1.1rem;
}
