@use 'variables' as v;


.mat-drawer-content {
  background-color: v.$card-background-color;
}
h2, h3 {
  background-color: v.$card-background-color;
  color: v.$brand-color;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.mat-sidenav {
  background-color: v.$card-background-color;
  color: v.$brand-color;
}

.sidenav-container {
  height: 100%;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: v.$card-background-color;
  color: v.$brand-color
}

.mat-expansion-panel {
  background-color: v.$card-background-color !important;
}

.mat-expansion-panel-content {
  background-color: v.$card-background-color !important;
}
.mat-expansion-panel.mat-expanded>.mat-expansion-panel-content-wrapper {
  background-color: v.$card-background-color !important;
}
.mat-expansion-panel-header-title {
  color: v.$brand-color;
  font-size: 1.2rem;
}
