@use '../../../Content/variables.scss' as v;

.mat-mdc-table, .mat-table {
  background-color: v.$table-background-color;
  color: v.$table-font-color;
  padding: 8px !important;
  width: 100%;
  margin:1px;
  border-collapse: collapse;
}
.mat-table-header {
  position: sticky;
  top: 0;
}
// .mat-table tbody {
//   color: v.$table-font-color;
// }

// .mat-table thead{
//   background-color: v.$table-header-background-color !important;
//   color: v.$table-font-color !important;
//   font-weight: 800;
//   font-size: v.$table-font-size;
// }

table {
  border-collapse: collapse;
  background-color: v.$table-background-color !important;
}

thead {
  background-color: v.$table-header-background-color !important;
  font-weight: 300;
}

th {
  background-color: lighten(v.$table-header-background-color, 5%) !important;
  color: v.$table-font-color !important;
  font-weight: 300;
  font-size: v.$table-font-size;
  border-bottom: .5px solid v.$table-border-color;
  border-top: .5px solid v.$table-border-color;
  padding-top: 4px;
  padding-bottom: 4px;
}

tr  {
  font-weight: 600;
  font-size: v.$table-font-size;
  padding-bottom: 2px;
  margin-bottom: 2px;
  background-color: v.$table-background-color !important;
  transition: box-shadow 0.3s ease-in-out;
}

tr:nth-child(even)
{
  background-color: v.$table-alternate-background-color !important;
}

td {
  font-weight: 400;
  font-size: v.$table-font-size;
}
// tr:hover {
//   font-weight: 700;
//   border: white .5px solid;
tr:hover td
{
    // border:.5px solid white;
    font-weight: 600;
    background-color: lighten(v.$admin-table-background-color, 20%) !important;
    box-shadow: 0 4px 8px rgba(102, 52, 52, 0.2);

  }

/* Initial style for the row */
.mat-row {
  transition: box-shadow 0.3s ease-in-out;
  border-bottom: 1px solid pink !important;
  padding-bottom: 2px;
  padding-top: 2px;
}

/* Style for the row when hovered */
.mat-row:hover {
  box-shadow: 0 4px 8px rgba(110, 52, 52, 0.2) !important;
}

.mat-table .mat-header-row {
  // height: 32px;
  border-collapse: collapse;
  border-spacing: 2px;
  background-color: v.$card-background-color;
  // position: static;
  font-weight: 300;
  font-size: v.$table-font-size;
  height: v.$table-border-height;
  border-bottom: 2px solid v.$table-border-color;
}

.mat-mdc-row {
  color: v.$table-font-color;
  border-bottom: v.$table-border-color solid 1px !important;
  border-spacing: 1px;
  height: v.$table-border-height;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mat-mdc-paginator {
  background-color: v.$card-background-color;
  color: v.$table-font-color;;
}
.mat-mdc-icon-button {
  color: v.$table-font-color;
}
.mat-mdc-select {
  color: while;
}

.mat-mdc-select-value-text {
  color: while;
}

.mat-mdc-paginator .mat-mdc-select-value {
  color: v.$table-font-color;;
}
.mat-mdc-header-row {
  height: 24px;
}
