$sidebar-background-color: #232323;
$sidebar-color: orange;
$background-color: black;
$sidebar-pill-background: orange;
$panel-default-heading-background: orange;
$basketball-color: #D17B00;
$brand-color: #D17B00;//#ff5600
 $table-body-color: #fce9cd;
 $navbar-background-color: #ff9800