/* -------    Page Layout ----------*/
body {
  padding: 0 0px 0px 0px;
  margin: 0px;
  font: 12px/18px Arial, Helvetica, sans-serif;
  color: #495257;
  background: black; }

div,
h1,
h2,
h3,
h4,
p,
img,
ul,
ol,
li,
form,
input,
textarea {
  padding: 0;
  margin: 0; }

p {
  padding: 0 0 10px 0;
  margin: 0; }

ul {
  list-style: none; }

img {
  outline: none;
  border: none; }

a {
  outline: none;
  text-decoration: none;
  margin-bottom: 0px;
  text-align: left; }

h3,
h4 {
  text-align: center; }

h4 {
  font-weight: 700; }

/*-------------------       General      --------------*/
.fontSize14 {
  font-size: 14px;
  line-height: 18px; }

.fontSize16 {
  font-size: 16px;
  line-height: 20px; }

.fontSize18 {
  font-size: 18px;
  line-height: 24px; }

.fontSize24 {
  font-size: 24px;
  line-height: 36px; }

.blueText {
  color: #118CD1; }

.whiteText {
  color: #fff; }

.grayText {
  color: #A3A3A3; }

.blueLink {
  color: #26A7C7;
  text-decoration: underline;
  font-weight: bold; }

.blueLink:hover {
  color: #000;
  text-decoration: none;
  font-weight: bold; }

.yellowText {
  color: #D17B00; }

.whiteLink {
  color: #fff;
  font-size: 11px; }

.whiteLink:hover {
  color: #FE8E2F;
  font-size: 11px; }

.heading_1 {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  line-height: 20px;
  padding: 0 0 10px 00px;
  display: block; }

.heading_2 {
  font-size: 24px;
  font-weight: normal;
  color: #D17B00;
  line-height: 28px;
  padding: 0 0 10px 0;
  display: block; }

.heading_3 {
  font-size: 18px;
  color: #D17B00;
  line-height: 18px;
  display: block;
  padding: 10px 0 10px 0;
  font-weight: normal; }

.heading_4 {
  font-size: 16px;
  font-weight: bold;
  color: #34362E;
  line-height: 18px;
  padding: 3px 0 20px 35px;
  display: block;
  background: url(/images/heading_arrow3.gif) left top no-repeat; }

th {
  background-color: #428bca;
  text-align: center;
  color: white; }

.row {
  padding-left: 20px;
  padding-right: 24px; }

.whiteBg {
  background: #fff; }

/*-------------------       Layout      --------------*/
#header {
  /*margin-left: 60px;*/
  text-align: center;
  /*background: top left no-repeat;*/
  /*background-image: url('/images/CSBCTopImage.jpg');*/ }

#headerTop {
  height: 167px; }

#logo {
  padding-top: 10px;
  padding-left: 80px; }

#follow_us_on {
  float: right;
  border-left: #040404 5px solid;
  border-bottom: #040404 5px solid; }

#follow_us_on table {
  border: #fff 1px solid;
  background: #dfdfdf url(/images/gray_bg.gif) 0 0 repeat-x; }

#follow_us_on table td {
  padding: 1px; }

#topMenu {
  height: 70px;
  text-align: center;
  margin-top: 40px;
  color: #383434;
  line-height: 45px;
  text-transform: uppercase;
  font: 16px/22px "Trebuchet MS", Helvetica, sans-serif; }

#topMenu a {
  color: #383434;
  padding: 0 4px 0 4px;
  white-space: nowrap;
  font-weight: bold;
  line-height: 45px; }

#topMenu a:hover,
#topMenu a.active {
  color: #fff;
  text-decoration: none; }

.btn-middle {
  vertical-align: middle; }

.navbar {
  background-color: #ff9800;
  color: white; }

.navbar-inverse .navbar-brand {
  color: #ff9800; }

.navbar-inverse .navbar-nav li a {
  color: white; }

.navbar-inverse .navbar-nav .active > a {
  background-color: #ff9800;
  color: white; }

.navbar-inverse .navbar-nav .active:hover > a {
  background-color: #ff5600;
  color: white; }

#menuHeader {
  /*margin-top: 52px;*/ }

#mainCol {
  padding: 10px;
  background: #070606; }

#contentText {
  margin-top: 8px;
  margin-bottom: 4px;
  padding-top: 12px;
  padding-bottom: 12px; }

.showMultiItemList {
  margin-bottom: 4px;
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
  padding-top: 4px; }

.PageTop {
  padding-top: 8px; }

.panel-body {
  background-color: #070606;
  /*border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*
}

#login .panel-body {
    background-color: #FFFFFF;
    /*border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
  color: #141010; }

#blackbox {
  padding: 0px 0px 0px 140px;
  height: 500px;
  margin: 0px;
  color: #495257;
  background: #040404; }

#graybox {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  color: #495257;
  background: #FAFAFA; }

#firebox {
  padding: 0px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  color: #495257;
  background: #EFEFEF;
  width: 950px;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center; }

.left-content {
  background-color: #f1f1f1;
  background-image: url(/images/left-bottom.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  clear: both;
  padding-bottom: 24px; }

#banner {
  width: 620px;
  height: 326px;
  margin-bottom: 5px;
  background: url(/images/banner.jpg) top left no-repeat; }

#bannerContent {
  padding: 260px 30px 0 30px;
  color: #fff;
  font-size: 11px; }

#bannerContent a {
  color: #EF6C15;
  text-decoration: underline;
  font-weight: bold; }

#bannerContent a:hover {
  color: #FFFFFF; }

.colHeader {
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  border: #545454 1px solid;
  background: #969696 url(/images/heading_bg.gif) top left repeat-x; }

.box {
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px; }

#sponsorBox.box {
  min-height: 360px; }

.boxHeading {
  padding: 0 0 0 17px;
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  border: #545454 1px solid;
  background: #969696 url(/images/heading_bg.gif) top left repeat-x; }

.boxContentHeader {
  padding-top: 4px;
  padding-bottom: 6px; }

.boxHeadingcenter {
  padding: 0 0 0 17px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 21px;
  line-height: 30px;
  text-transform: uppercase;
  border: #545454 1px solid;
  background: #969696 url(/images/heading_bg.gif) top left repeat-x; }

.boxContent {
  padding-top: 10px;
  margin-bottom: 4px;
  /*border: #545454 1px solid;*/
  background: #070606;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #B7AFAF; }

.well {
  background-color: #0d0d0d;
  color: white;
  border-radius: 20px;
  background-clip: padding-box; }

.list-group-item {
  background-color: #0d0d0d;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  text-align: center; }

#sponsorFooter.boxContent {
  background: -webkit-linear-gradient(left, #ab1504, #f5b609, #f9edbd, #f5b609, #ab1504);
  background: linear-gradient(to right, #ab1504, #f5b609, #f9edbd, #f5b609, #ab1504);
  min-height: 96px; }

#sponsorFooter.panel-body {
  background: -webkit-linear-gradient(left, #ab1504, #f5b609, #f9edbd, #f5b609, #ab1504);
  background: linear-gradient(to right, #ab1504, #f5b609, #f9edbd, #f5b609, #ab1504);
  min-height: 96px; }

#sponsorName {
  font-size: 2em;
  color: #0b3160;
  font-weight: 700;
  font-style: italic; }

.carousel-indicators li {
  background: transparent; }

.carousel-indicators .active {
  background: transparent; }

.boxPadding {
  padding: 10px 0 10px 10px; }

.newsTitle {
  padding-bottom: 10px;
  height: 16px; }

.newsTitle a {
  color: #DE951B;
  font-size: 18px; }

.newsTitle a:hover {
  color: #000; }

.newsDate {
  width: 80px;
  font-weight: bold;
  color: #495257;
  background: #DEDEDE;
  padding: 2px 4px 2px 4px; }

.gameList {
  background-color: #FE8E2F; }

.addBanner {
  padding: 10px 0 8px 0; }

.poll {
  padding: 20px 0 8px 20px; }

.Chart td {
  padding: 2px 0px 2px 0px;
  border-bottom: #DADADA 1px solid;
  border-top: #fff 1px solid;
  color: #495257;
  line-height: 24px; }

.ChartHeading td {
  background: #E9A533;
  padding: 0 0 0 0;
  font-weight: bold;
  color: #FFFFFF;
  border: none; }

.Chart div {
  color: #A3A3A3; }

.Chart .paddingLeft {
  padding-left: 20px; }

/*--------------------  footer ------------------------------*/
#footer {
  text-align: center;
  color: #796A6A;
  padding: 20px 0 20px 0;
  font: 14px/20px "Trebuchet MS", Times, serif; }

.footerLink {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 11px; }

.footerLink a {
  color: #fff;
  padding: 0 4px 0 4px; }

#footer a:hover {
  color: #fff;
  text-decoration: underline; }

.reportLink {
  font-size: 1em;
  color: #780505;
  padding-left: 4px;
  padding-right: 12px; }

.reportLink a {
  font-size: 1em;
  color: #780505; }

.reportLink a:hover {
  color: #f31414; }

.reportLink a:visited {
  color: #420202; }

#BestGame {
  padding-top: 4px;
  padding-bottom: 6px; }

.centerlow {
  background-color: #070606;
  color: #e6e3e3;
  text-align: right;
  font-size: 1.2em;
  font-weight: 500;
  padding-left: auto;
  padding-right: auto;
  padding-top: 4px;
  padding-bottom: 10px; }

.centerlow a {
  font-size: 1em;
  font-weight: 400; }

.carousel-control.left, .carousel-control.right {
  background: none !important;
  outline: 0; }

.carousel .carousel-control {
  visibility: hidden; }

.carousel:hover .carousel-control {
  visibility: visible; }
#panelGames {
  padding-top: 10px; }
