@use 'sass:color';
@use '../../../../Content/_variables' as v;

.announcements {
  padding-top:2px;
  margin-top:2px;
}
.panel-title {
  font-size: 1.2em;
  text-align: center;
  background-color: #424242;
}
.mat-card-title {
  font-size: 1.2em;
  font-weight: 720;
  font-variant: small-caps;
  color: v.$color;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin: auto;
}
.mat-card-header {
  text-align: center;
  margin: auto;
}
.mat-card-header-text {
  margin: auto !important;
}

.mat-card-content {
  font-size: 1em;
  color: v.$font-color-text;
  font-weight: 400;
}
.top-padding {
  margin-top: 24px;
  padding-left: auto;
  padding-right: auto;
}
.sub-title {
  font-weight: 700;
  font-size: 1.1em;
}
.contentText {
  padding-top:12px;
  padding-bottom:12px;
}
