<!-- <form [formGroup]="selectForm"> -->
<!-- <h4>Season</h4> -->

<div class="select-input">
  <mat-form-field>
    <mat-label>Season</mat-label>
    <mat-select
      [(value)]="selectedSeason"
      (selectionChange)="onChange($event.value)"
      class="form-control"
    >
      @for( season of seasons$ | async; track season) {
      <mat-option [value]="season.seasonId" (click)="changeSeason(season)">
        {{ season.description }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<!-- </form> -->
