<mat-card class="container mx-auto">
  <mat-card-header class="">
    <mat-card-title class="">Division Detail</mat-card-title>
  </mat-card-header>
  <mat-card-content class="">
    <form class="form-horizontal" novalidate="" (ngsubmit)="save()" [formGroup]="divisionForm">
        <div class="flex flex-wrap -mx-2">
          <div class="w-full px-2">
            <fieldset class="">
            <mat-form-field class="">
              <mat-label class="">Division</mat-label>
              <mat-select placeholder="Select Division" [(value)]="selectedDivisionDescription" formcontrolname="name" (selectionchange)="divisionSelected($event)" class="">
                @for (division of standardDivisions(); track
                division) {
                <mat-option [value]="division" class=""> {{ division }} </mat-option>
                }
                <mat-option value="other" class="">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [hidden]="hideNameInput()" class="">
              <input matinput="" id="optionalname" type="text" formcontrolname="name" value="selectedDivision().divisionDescription" class="">
            </mat-form-field>
          </fieldset>
          </div>
        </div>

      <div class="flex flex-wrap -mx-2">
        <div class="w-6/12 px-2">
          <fieldset class="">
            <div class="">
              <mat-form-field floatlabel="auto" class="">
                <mat-label for="divisionForm.get('minDate')" class="">Min Date</mat-label>
                <input matinput="" id="divisionForm.get('minDate1')" required="" type="text" formcontrolname="minDate1" class="">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field floatlabel="auto"  [ngClass]="{
                  'has-error':
                    (divisionForm.get('maxDate1')?.touched ||
                      divisionForm.get('maxDate1')?.dirty) &amp;&amp;
                    !divisionForm.get('minDate1')?.valid
                }" class="">
                <mat-label for="divisionForm.get('maxDate1')" class="">Max Date</mat-label>
                <input matinput="" id="divisionForm.get('maxDate1')" required="" type="text" formcontrolname="maxDate1" class="">
              </mat-form-field>
            </div>
            <div class="">
              <!-- <mat-form-field> -->
              <mat-label class="/* control-label not found */">Gender</mat-label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="/* example-radio-group not found */" formcontrolname="gender1">
                @for (gender of genders; track gender) {
                <mat-radio-button class="/* example-radio-button not found */" [value]="gender">
                  {{ gender }}
                </mat-radio-button>
                }
              </mat-radio-group>
              <!-- </mat-form-field> -->
            </div>
          </fieldset>
        </div>

        <!-- male dates -->
        <div class="w-6/12 px-2">
          <fieldset class="">
            <div class="">
              <mat-form-field hintLabel="{{ minDateHint }}" floatlabel="auto" [ngClass]="{
                  'has-error':
                    (divisionForm.get('minDate1')?.touched ||
                      divisionForm.get('minDate1')?.dirty) &amp;&amp;
                    !divisionForm.get('minDate1')?.valid
                }" class="">
                <mat-label class="/* control-label not found */" for="divisionForm.get('minDate2')">min Date</mat-label>
                <input matinput="" id="divisionForm.get('minDate2')" type="text" formcontrolname="minDate2" class="">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field class="/* form-group not found */" hintLabel="{{ maxDateHint }}" [ngClass]="{
                  'has-error':
                    (divisionForm.get('maxDate2')?.touched ||
                      divisionForm.get('maxDate2')?.dirty) &amp;&amp;
                    !divisionForm.get('minDate2')?.valid
                }">
                <mat-label for="divisionForm.get('maxDate2')" class="">max Date</mat-label>
                <input matinput="" id="divisionForm.get('maxDate2')" class="/* form-control not found */" type="text" formcontrolname="maxDate2">
              </mat-form-field>
            </div>
            <div class="">
              <!-- <mat-form-field> -->
              <mat-label class="">Gender</mat-label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="/* example-radio-group not found */" formcontrolname="gender2">
                @for (gender of genders; track gender) {
                <mat-radio-button class="/* example-radio-button not found */" [value]="gender">
                  {{ gender }}
                </mat-radio-button>
                }
              </mat-radio-group>
              <!-- </mat-form-field> -->
            </div>
          </fieldset>
        </div>
      </div>
      <div class="flex flex-wrap -mx-2">
        <div class="w-6/12 px-2">
          <fieldset class="">
            <mat-form-field floatlabel="auto" class="">
              <!-- <mat-label for="divisionForm.get('director')">Director</mat-label>
              <input matInput type="text" formControlName="director" /> -->

              <mat-label class="">AD</mat-label>
              <mat-select placeholder="Select AD" formcontrolname="director" class="">
                @for (ad of ads(); track
                ad) {
                <mat-option [value]="ad.personId" class=""> {{ ad.lastName + ', ' + ad.firstName }} </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </fieldset>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="">
    <button mat-raised-button="" color="primary" (click)="save()" [disabled]="!divisionForm.valid || !divisionForm.dirty" class="">Save</button>
    <button type="button" mat-raised-button="" color="primary" class="">
    Delete
  </button>
  <!-- <button type="button" mat-raised-button>Save and New</button> -->
  <button type="button" mat-raised-button="" [routerLink]="['/admin/division']" color="primary" class="">
    Cancel
  </button>
    <!-- <button mat-raised-button color="warn" (click)="cancel()">Cancel</button> -->
  </mat-card-actions>
</mat-card>
