<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Division Detail</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="form-horizontal"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="divisionForm"
    >
        <div class="row">
          <div class="col-12">
            <fieldset>
            <mat-form-field>
              <mat-label>Division</mat-label>
              <mat-select
                placeholder="Select Division"
                [(value)]="selectedDivisionDescription"
                formControlName="name"
                (selectionChange)="divisionSelected($event)"
              >
                @for (division of standardDivisions(); track
                division) {
                <mat-option [value]="division"> {{ division }} </mat-option>
                }
                <mat-option value="other">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [hidden]="hideNameInput()">
              <input
                matInput
                id="optionalname"
                type="text"
                formControlName="name"
                value="selectedDivision().divisionDescription"
              />
            </mat-form-field>
          </fieldset>
          </div>
        </div>

      <div class="row">
        <div class="col-6">
          <fieldset>
            <div>
              <mat-form-field floatLabel="auto" hintLabel="{{ minDateHint }}">
                <mat-label for="divisionForm.get('minDate')"
                  >Min Date</mat-label
                >
                <input
                  matInput
                  id="divisionForm.get('minDate1')"
                  required
                  type="text"
                  formControlName="minDate1"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field
                floatLabel="auto"
                hintLabel="{{ maxDateHint }}"
                [ngClass]="{
                  'has-error':
                    (divisionForm.get('maxDate1')?.touched ||
                      divisionForm.get('maxDate1')?.dirty) &&
                    !divisionForm.get('minDate1')?.valid
                }"
              >
                <mat-label for="divisionForm.get('maxDate1')"
                  >Max Date</mat-label
                >
                <input
                  matInput
                  id="divisionForm.get('maxDate1')"
                  required
                  type="text"
                  formControlName="maxDate1"
                />
              </mat-form-field>
            </div>
            <div>
              <!-- <mat-form-field> -->
              <mat-label class="control-label">Gender</mat-label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="gender1"
              >
                @for (gender of genders; track gender) {
                <mat-radio-button class="example-radio-button" [value]="gender">
                  {{ gender }}
                </mat-radio-button>
                }
              </mat-radio-group>
              <!-- </mat-form-field> -->
            </div>
          </fieldset>
        </div>

        <!-- male dates -->
        <div class="col-6">
          <fieldset>
            <div>
              <mat-form-field
                hintLabel="{{ minDateHint }}"
                floatLabel="auto"
                [ngClass]="{
                  'has-error':
                    (divisionForm.get('minDate1')?.touched ||
                      divisionForm.get('minDate1')?.dirty) &&
                    !divisionForm.get('minDate1')?.valid
                }"
              >
                <mat-label
                  class="control-label"
                  for="divisionForm.get('minDate2')"
                  >min Date</mat-label
                >
                <input
                  matInput
                  id="divisionForm.get('minDate2')"
                  type="text"
                  formControlName="minDate2"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field
                class="form-group"
                hintLabel="{{ maxDateHint }}"
                [ngClass]="{
                  'has-error':
                    (divisionForm.get('maxDate2')?.touched ||
                      divisionForm.get('maxDate2')?.dirty) &&
                    !divisionForm.get('minDate2')?.valid
                }"
              >
                <mat-label for="divisionForm.get('maxDate2')"
                  >max Date</mat-label
                >
                <input
                  matInput
                  id="divisionForm.get('maxDate2')"
                  class="form-control"
                  type="text"
                  formControlName="maxDate2"
                />
              </mat-form-field>
            </div>
            <div>
              <!-- <mat-form-field> -->
              <mat-label>Gender</mat-label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="gender2"
              >
                @for (gender of genders; track gender) {
                <mat-radio-button class="example-radio-button" [value]="gender">
                  {{ gender }}
                </mat-radio-button>
                }
              </mat-radio-group>
              <!-- </mat-form-field> -->
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <fieldset>
            <mat-form-field floatLabel="auto">
              <!-- <mat-label for="divisionForm.get('director')">Director</mat-label>
              <input matInput type="text" formControlName="director" /> -->

              <mat-label>AD</mat-label>
              <mat-select
                placeholder="Select AD"
                formControlName="director"
              >
                @for (ad of ads(); track
                ad) {
                <mat-option [value]="ad.personId"> {{ ad.lastName + ', ' + ad.firstName }} </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </fieldset>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()"
    [disabled]="!divisionForm.valid || !divisionForm.dirty">Save</button>
    <button
    type="button"
    mat-raised-button
    type="delete"
    color="primary"

  >
    Delete
  </button>
  <!-- <button type="button" mat-raised-button>Save and New</button> -->
  <button
    type="button"
    mat-raised-button
    [routerLink]="['/admin/division']"
    color="primary"
  >
    Cancel
  </button>
    <!-- <button mat-raised-button color="warn" (click)="cancel()">Cancel</button> -->
  </mat-card-actions>
</mat-card>
