@use '../../../../Content/variables' as *;

.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 600px;
  padding: 16px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: $card-background-color;
  color: $brand-color
}

mat-list-item {
  cursor: pointer;
}


.mat-drawer-content {
  background-color: $card-background-color;
}
h2, h3 {
  background-color: $card-background-color;
  color: purple;
}
