<mat-card class="dashboard-card">
  <mat-card-header class="">
    <mat-card-title>{{ constants.LABELS.SEASON_GAMES }}</mat-card-title>
    <mat-card-subtitle class="">
      <div class="counter-wrapper">
        <div class="counter">
          {{ (seasonGamesCount()) }} {{
          seasonService.selectedSeason().description }} games
        </div>
        <div class="counter">
          <!-- <div>{{divisionGames.length}} division games</div> -->
        </div>
        <div class="counter">
          {{ teamGames().length }} {{ teamService.selectedTeam?.teamName }}
          games
        </div>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="">
    <csbc-admin-games-list [showScores]="false" />
  </mat-card-content>
</mat-card>
