@import '../../../../content/_variables';

.shell {
  width: 100%;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}
.game-wrapper {
  background-color: $background-color;
}
.season {
  color: white;
  background-color: $background-color;
}

.table-striped > tbody > tr {
  background-color: $card-background-color;
  color: $color;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: $app-bar-background;
}
.table-striped thead > tr {
  background-color: $app-bar-background;
}
.mat-table,
.mat-card {
  background-color: $card-background-color;
  color: $color;
  border-radius: 10px;
  width: 100%;
}
.mat-table tr {
  color: $color;
}
.mat-table tr th {
  color: $color;
  font-weight: 700;
}
.mat-table tr td {
  color: $color;
  font-weight: 500;
}

.mat-table tr td.teamName {
  text-transform: lowercase;
}
.mat-table tr td.teamName:first-letter {
  text-transform: uppercase;
}
.table-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: $border-radius;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $card-background-color;
  font: 0.9rem;
}
@media screen and (max-width: 600px) {
  .table-wrapper {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .location {
    font-size: 0.7em;
    font-weight: 500;
    // width: 180px;
  }
}
.date {
  font-weight: 600;
  // width: 100px;
  padding-left: 10px;
}
.time {
  font-weight: 600;
  // width: 100px;
}
.team {
  font-weight: 700;
  // width: 260px;
}
.homeTeam {
  font-weight: 700;
  // width: 260px;
}

.location {
  font-weight: 500;
  // width: 180px;
}
.edit {
  display: inline-block;
  // width: 80px;
  padding-left: 10px;
}
.row {
  border-top: 1px solid whitesmoke;
  padding-top: 8px;
  padding-bottom: 8px;
}
.mat-table td:first-of-type,
.mat-table th:first-of-type {
  padding-left: 8px;
}
.mat-table td:last-of-type,
.mat-table th:last-of-type {
  padding-left: 8px;
}
