.household-filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0;
}

.alphabetical-filter {
  width: 100%;
}

.filter-field {
  flex: 1;
  min-width: 200px;
}

@media (max-width: 768px) {
  .filter-field {
    width: 100%;
  }
}
