<div class="filter-divisions" class="filter-wrapper">
  <mat-form-field>
    <mat-label>Divisions</mat-label>
    <mat-select
      [(value)]="selectedDivision"
      #divisionSelect
      (selectionChange)="onDivisionChange(divisionSelect.value)"
    >
      <mat-option *ngFor="let division of divisions()" [value]="division">
        {{ division.divisionDescription }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teams</mat-label>
    <mat-select #teamSelect (selectionChange)="onTeamChange(teamSelect.value)">
      <mat-option *ngFor="let team of teams()" [value]="team">
        {{ team.teamName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
