@import "../../../../content/_variables.scss";

.filter-wrapper {
  padding-left: 12px;
  padding-right: 10px;
  background-color: transparent;
  color: white;

}
.filter-divisions {
  background-color: transparent;
  color: white;
  font-size: 0.9em;
}

.mat-toolbar {
  background-color: $background-color;
}
.mat-form-field {
  padding-bottom: 2px;
  padding-right: 12px;
  background-color: $background-color;
  color: white;
  width: 140px;
  font-size:$button-font-size;
}
.mat-form-field-infix {
  width:100px;
}

.mat-form-field-type-mat-select .mat-form-field-label {
  font-size: 1em;
  color: white;
}
.mat-form-field-hide-placeholder .mat-select-placeholder {
  color: white;
}

label {
  color: white;
}
::ng-deep .mat-select-content {
  width: 20px;
  background-color: rgb(156, 72, 16);
  font-size: $table-font-size;
}
.mat-button,
.mat-raised-button {
  font-size: 0.7em;
}
.mat-button.color,
.mat-raised-button.color {
  font-size: 0.7em;
}
.mat-form-field-label .mat-select-placeholder {
  color: $font-color-text;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: blue;
}

.mat-checkbox,
.mat-button-toggle-group {
  padding-left: 8px;
}

.mat-button-toggle {
  color: white;
  background-color: $background-color;
  margin-left: 8px;
}
