@use "sass:color";
@use "../../Content/variables" as v;

.dashboard-card {
  min-height: 100px;
  max-height: 600px;
  height: 90%;
  background-color: v.$table-body-color;
  color: v.$table-font-color;
  // overflow-y: auto;
}

.card {
  background-color: v.$table-body-color;
  color: v.$table-font-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 10px;
}

.mat-card-subtitle {
  font-size: 1rem;
  color: v.$brand-color;
  font-weight: 700;
}

.mat-card {
  color: v.$table-font-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 0.75rem 0.5rem 0.25rem 0.5rem;
  border-radius: 10px;
  margin-bottom: 1.25rem;
}

.mat-list-item {
  color: v.$brand-color;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 40px;
  width: 90%;
  background-color: color.adjust(v.$admin-background-color, $lightness: 10%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 0.625rem;
  margin-left: 5%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 5%;
  margin-bottom: 0.5rem;
}

.mat-list-item:hover {
  box-shadow: 4px 4px 6px -2px
    color.adjust(v.$admin-background-color, $lightness: -10%);
  font-weight: 800;
}

.mat-list-iten:active,
.mat-list-iten:focus {
  box-shadow: 4px 4px 6px -2px
    color.adjust(v.$admin-background-color, $lightness: -10%);
}
.mat-list-text:active {
  font-weight: 800;
}

.heading {
  font-size: 1.4em;
  color: white;
  text-align: center;
  padding-bottom: 0.5rem;
}

.dashboard-header {
  font-size: 1.4rem;
  text-align: center;
  color: v.$admin-font-color;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.body {
  font-size: 1.1rem;
  text-align: center;
  color: v.$admin-font-color;
}

tbody {
  color: white;
}

.showOptions {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
}

.counter-wrapper {
  padding-bottom: 1.25rem;
}
.selected {
  background-color: v.$card-highlight;
}

tr.mat-mdc-row {
  background-color: color.adjust(v.$admin-background-color, $lightness: 10%);
  cursor: pointer;
  color: v.$brand-color;
}

tr.mat-mdc-row:hover {
  box-shadow: 4px 4px 6px -2px
    color.adjust(v.$admin-background-color, $lightness: -10%);
  font-weight: 800;
}

tr.mat-mdc-row.selected {
  background-color: v.$card-highlight;
}

tr.mat-mdc-header-row {
  background-color: color.adjust(v.$admin-background-color, $lightness: 5%);
  color: v.$admin-font-color;
}

.mat-column-players {
  text-align: right;
  padding-right: 1rem;
}

table[mat-table] {
  width: 100%;
  background: transparent;
}
