<mat-nav-list>
  <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active"
    >Dashboard
    <span
      class="pull-right hidden-xs showopacity glyphicon glyphicon-home"
    ></span>
  </a>
  <mat-divider />
  @if (showDirectors) {
  <a mat-list-item routerLink="/admin/director" routerLinkActive="active"
    >Directors</a
  >
  } @if (showHouseholds) {
  <a mat-list-item routerLink="/admin/households" routerLinkActive="active"
    >Households</a
  >
  } @if (showPeople) {
  <a mat-list-item routerLink="/admin/people" routerLinkActive="active"
    >People</a
  >
  } @if (showColors) {
  <a mat-list-item routerLink="/admin/colors" routerLinkActive="active"
    >Uniform Colors</a
  >
  } @if (showUsers) {
  <a mat-list-item routerLink="/admin/users" routerLinkActive="active"
    >Users</a
  >
  } @if ( showDirectors || showHouseholds || showPeople || showColors ||
  showUsers ) {
  <mat-divider />
  }
  <!-- <a mat-list-item routerLink="./director" routerLinkActive="active">Directors</a> -->
  <h3 mat-subheader>{{ SeasonSetupSection }}</h3>
  @for (item of seasonSetupItems; track item) {
  <mat-list-item
    (click)="navigate(item)"
    [class.selected-list-item]="isSelected(item)"
  >
    {{ item.name }}
  </mat-list-item>
  } @if (showNotices) {
  <h3 mat-subheader>{{ CommunicationSection }}</h3>
  } @if (showNotices) {
  <div>
    @for (item of communicationItems; track item) {
    <mat-list-item
      (click)="navigate(item)"
      [class.selected-list-item]="isSelected(item)"
    >
      {{ item.name }}
    </mat-list-item>
    }
  </div>
  } @if (showPeopleSection) {
  <div>
    <h3 mat-subheader>{{ PeopleSection }}</h3>
    @for (item of peopleItems; track item) {
    <mat-list-item
      (click)="navigate(item)"
      [class.selected-list-item]="isSelected(item)"
    >
      {{ item.name }}
    </mat-list-item>
    }
  </div>
  } @if (showReports) {
  <div>
    <h3 mat-subheader>{{ ReportsSection }}</h3>
    @for (item of reportsItems; track item) {
    <mat-list-item
      (click)="navigate(item)"
      [class.selected-list-item]="isSelected(item)"
    >
      {{ item.name }}
    </mat-list-item>
    }
  </div>
  }
</mat-nav-list>
