<div class="home-wrapper">
  <div class="flex flex-wrap -mx-2 center-top">
    <div id="header" class="">
      <div id="logo" class="">
        <a href="index.html" class="">
          <img [src]="topImage" alt="Main image" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-2">
    <csbc-home-center class="sm:w-6/12 w-full px-2"></csbc-home-center>
  </div>
  <div class="flex flex-wrap -mx-2">
    <div [ngClass]="meetingNoticeClass" [hidden]="!showSidebar" class="">
      <csbc-home-sidebar class=""></csbc-home-sidebar>
    </div>
    <!-- <div class="row"> -->
    <div [ngClass]="imageClass" class="">
      <div class="flex flex-wrap -mx-2 items-center">
        <csbc-announcements class="announcements" [info]="announcementInfo"></csbc-announcements>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-2">
    <div class="sm:w-6/12 px-2 w-full">
      <div class="manny">Manny Rosa - forever in our hearts at CSBC</div>
    </div>
  </div>
  @if (showSponsors) {
  <div class="sponsor">
    <app-sponsor-list class=""></app-sponsor-list>
  </div>
  }
</div>
