@use 'sass:color';
@use '../../content/_variables' as *;

h4 {
  color: $brand-color;
  font-size: 1.1rem;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.tag {
  height: 60px;
}
.tag-line {
  font-variant: small-caps;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  padding-top: 20px;
  padding-right: 12px;
}
#logo {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.panel-title {
  font-size: 1.2em;
  text-align: center;
  background-color: #424242;
}

em {
  text-align: right;
}
.manny {
  background-color: transparent;
  color: color.adjust(#ebf3c6, $lightness: -10%);
  text-align: right;
  font-size: $card-body;
  font-weight: 400;
  font-style: italic;
  padding-top: 40px;
  padding-right: 24px;
}
.center-top {
  padding-top: 20px;
}

.top-padding {
  margin-top: 24px;
  padding-left: auto;
  padding-right: auto;
}
.title {
  font-size: 2rem !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sub-title {
  text-align: center;
  color: color.adjust($card-sub-title-color, $lightness: 10%);
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-weight: 700;
  font-size: 1.6rem;
  padding-bottom: 8px;
}
.home-wrapper {
  background-color: $black;
  font-size: $wrapper-font-size;
  height:100%;
}

.infoLocation {
  background-color: $card-highlight;
  font-size: 1.4rem;
  margin-right: 4vw;
  margin-left: 4vw;
  margin-top: 2vh;
  border-radius: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

div.sponsor {
  height: 140px;
  position: fixed;
  left: 0;
  bottom:0%;
  width:100%;
  background-color: color.adjust($card-background-color, $lightness: -10%);
  // opacity: 1;
  text-align: center;
}
.sponsor-carousel {
  height: 120px;
}

p {
  color: white;
}
.body-text {
  color: $brand-color;
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;;
  text-align: left;
}
