@import "../../content/_variables";

h4 {
  color: $brand-color;
  font-size: 1.1rem;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.tag {
  height: 60px;
}
.tag-line {
  font-variant: small-caps;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  padding-top: 20px;
  padding-right: 12px;
}
#logo {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.panel-title {
  font-size: 1.2em;
  text-align: center;
  background-color: #424242;
}

em {
  text-align: right;
}
.manny {
  background-color: transparent;
  color: darken(#ebf3c6, 10%);
  text-align: right;
  font-size: $card-body;
  font-weight: 400;
  font-style: italic;
  padding-top: 40px;
  padding-right: 24px;
}
.center-top {
  padding-top: 20px;
}

.mat-mdc-card {
  border-radius: 10px;
  background-color: $card-background-color;
  color: $font-color-text;
  margin-bottom: 16px;
  padding-top: 0px;
  padding-bottom: 12px;
  width: 100%;
  text-align: center;

}

.mat-card-title, .mat-mdc-card-title {
  font-size: $card-title-font-size;
  font-weight: 750;
  font-variant: small-caps;
  color: $color;
  text-align: center;
  margin-right: 4vw;
  margin-left: 4vw;
}
.mat-card-header {
  // border-bottom: 1px solid lighten($card-background-color, 20%);
  text-align: center;
  margin: auto;
}
.mat-card-header-text {
  margin: auto !important;
}

.mat-card-content {
  font-size: $card-body;
  color: $font-color-text;
  font-weight: 400;
  padding-left: auto;
  padding-right: auto;
  padding-top: 4px;
}
.top-padding {
  margin-top: 24px;
  padding-left: auto;
  padding-right: auto;
}
.sub-title {
  text-align: center;
  color: lighten($card-sub-title-color, 10%);
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
}
.home-wrapper {
  background-color: $black;
  font-size: $wrapper-font-size;
  height:100%;
}

.infoLocation {
  background-color: $card-highlight;
  margin-right: 4vw;
  margin-left: 4vw;
  margin-top: 2vh;
  border-radius: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

div.sponsor {
  height: 140px;
  position: fixed;
  left: 0;
  bottom:0%;
  width:100%;
  background-color: darken($card-background-color, 10%);
  // opacity: 1;
  text-align: center;
}
.sponsor-carousel {
  height: 120px;
}

p {
  color: white;
}
