@use "./../../../../Content/variables" as *;

.mat-dialog-container {
  background-color: $card-background-color;
}
.mat-form-field {
  background-color: whitesmoke;
  color: black;
}

h1 {
  font-size: 1.2rem;
}
input {
  color: blue;
}
.error {
  color: red;
}
.login-form {
  width: 100%;
  background-color: white;
}
button {
  margin-right: 10px;
}
