<mat-toolbar>
  <span class="season">{{ seasonDescription }}</span>
<div
[formGroup]="menuForm"
fxLayout="row"
fxLayoutAlign="space-evenly center"
fxShow="true"
fxHide.gt-sm="true"
>
</div>
  <span class="fill-space"></span>
  <csbc-game-filter
    [currentDivision]="selectedDivisionId$ | async"
    (selectedDivision)="divisionSelected($event)"
  ></csbc-game-filter>
</mat-toolbar>
<mat-toolbar>
  <div
    [formGroup]="menuForm"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    fxShow="true"
  >
    <button mat-button routerLink="/games/schedule" >Schedule</button>
    <button mat-button routerLink="/games/standings" >Standings</button>
    <button mat-button fxHide.gt-md="true"
    routerLink="/games/scores" >Scores</button>
</div>
</mat-toolbar>
