@use '../../../content/_variables' as v;

.dashboard-card {
  min-height: 100px;
  height: 90%;
  background-color: v.$table-body-color;
  color: v.$table-font-color;
}

.card {
  background-color: v.$table-body-color;
  color: v.$table-font-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
}

.mat-card-subtitle {
  font-size: 1em;
  color: v.$brand-color;
  font-weight: 700;
}

.mat-card {
  color: v.$table-font-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 12px 8px 4px 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mat-list-item {
  color: v.$brand-color;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 40px;
  width: 90%;
  background-color: lighten(v.$admin-background-color, 10%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  margin-left: 5%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 5%;
  margin-bottom: 8px;
}

.mat-list-item:hover {
  box-shadow: 4px 4px 6px -2px darken(v.$admin-background-color, 10%);
  font-weight: 800;
}

.mat-list-iten:active, .mat-list-iten:focus {
  box-shadow: 4px 4px 6px -2px darken(v.$admin-background-color, 10%);
}
.mat-list-text:active {
  font-weight: 800;
}

.heading {
  font-size: 1.4em;
  color: white;
  text-align: center;
  padding-bottom: 8px;
}

.dashboard-header {
  font-size: 1.4rem;
  text-align: center;
  color: v.$admin-font-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

.body {
  font-size: 1.1rem;
  text-align: center;
  color: v.$admin-font-color;
}

tbody {
  color: white;
}

.showOptions {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.counter-wrapper {
  padding-bottom: 20px;
}
