<div class="row justify-content-end">
  <div class="col-8">
    <!-- <div class="dashboard-header" *ngIf="currentSeason">
          Current Season: {{ currentSeason.description }}
        </div> -->
    <season-select></season-select>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Divisions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="counter-wrapper">
          <div class="counter">{{ divisionCount }} divisions</div>
        </div>

        <mat-selection-list [multiple]="false">
          <mat-list-option
            role="listitem"
            *ngFor="let division of divisions"
            (click)="goToDivision(division)"
          >
            {{ division.divisionDescription }}</mat-list-option
          >
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title
          >{{ selectedDivision?.divisionDescription }} Teams</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div class="counter-wrapper">
          <div class="counter">{{ teamCount }} Teams:</div>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option
            *ngFor="let team of divisionTeams"
            (click)="setTeam(team)"
          >
            {{ team.teamName }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Season Games</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="counter-wrapper">
          <div class="counter">
            {{ seasonGameCount }} {{ currentSeason.description }} games
          </div>
          <div class="counter">
            <!-- <div>{{divisionGames.length}} division games</div> -->
          </div>
          <div class="counter">
            {{ teamGames.length }} {{ selectedTeam?.teamName }} games
          </div>
        </div>
        <!-- <div class="showOptions">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Division Games</mat-radio-button>
            <mat-radio-button value="2">Team Games</mat-radio-button>
          </mat-radio-group>
        </div> -->
        <admin-games-list [showScores]="false"></admin-games-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
