<div class="flex flex-wrap -mx-2 justify-end mb-3">
  <div class="w-3/12 px-2">
    <!-- <div class="dashboard-header" *ngIf="currentSeason">
          Current Season: {{ currentSeason.description }}
        </div> -->
    <season-select class=""></season-select>
  </div>
</div>
<div class="flex flex-wrap -mx-2">
  <div class="w-3/12 px-2">
    <csbc-dashboard-divisions />
  </div>

  <div class="w-3/12 px-2">
    <csbc-dashboard-teams />
    <!-- <mat-card class="dashboard-card">
      <mat-card-header class="">
        <mat-card-title class="">{{ selectedDivision?.divisionDescription }} Teams</mat-card-title>
      </mat-card-header>
      <mat-card-content class="">
        <div class="counter-wrapper">
          <div class="counter">{{ teamCount }} Teams:</div>
        </div>
        <mat-list role="list" class="">
          @for (team of teams; track team.teamId) {
          <mat-list-item role="listitem"  (click)="setTeam(team)" [class.selected]="team === selectedTeam" class="">
            {{ team.teamName }}
          </mat-list-item>
        }
        </mat-list>
      </mat-card-content>
    </mat-card> -->
  </div>
  <div class="w-6/12 px-2">
    <mat-card class="dashboard-card">
      <mat-card-header class="">
        <mat-card-title class="">Season Games</mat-card-title>
        <mat-card-subtitle class="">
          <div class="counter-wrapper">
            <div class="counter">
              {{ seasonGameCount() }} {{ selectedSeason().description }} games
            </div>
            <div class="counter">
              <!-- <div>{{divisionGames.length}} division games</div> -->
            </div>
            <div class="counter">
              {{ teamGames().length }} {{ selectedTeam?.teamName }} games
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="">
        <csbc-admin-games-list
          [showScores]="false"
          class=""
        ></csbc-admin-games-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
