<div class="row" >
  <div class="col-12">
        <div class="dashboard-header" *ngIf="currentSeason">
          Current Season: {{ currentSeason.description }}
        </div>
  </div>
  </div>
  <div class="row">
  <div class="col-2">
    <mat-card class = "dashboard-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Divisions</mat-card-title>
        <mat-card-subtitle class="heading">No.: {{ divisionCount }}</mat-card-subtitle>

    </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let division of divisions" (click)="goToDivision(division)">
              {{ division.divisionDescription }}</mat-list-item>
          </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-2">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Teams</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <div class="heading">Current Season</div> -->
        <div class="body">
          Season Teams: {{ teamCount }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-2">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Games</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <div class="heading">Current Season</div> -->
        <div class="body">
          Season Games: {{ seasonGameCount }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
