@import '../../../../Content/variables';

.mat-sidenav-container {
  background-color: $background-color;
}

.mat-form-field {
  width: 120px;
}

.top-nav-toolbar {
  background-color: $card-background-color;
}

.mat-toolbar {
  padding-top: 4px;
  background-color: $background-color;
  color: $navbar-color;
  font-size: $wrapper-font-size;
}

a {
  font-size: 1.2em;
  font-weight: 600;
  color: $navbar-color;
}

button {
  font-size: $button-font-size;
  font-variant-caps: small-caps;
  font-weight: 500;
  background-color: $card-background-color;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 12px;
  color: $navbar-color;
}
button:active {
  font-weight: 800;
}

.games-button {
  font-size: $button-font-size;
  font-variant-caps: small-caps;
  font-weight: 500;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 12px;
  background-color: $brand-color;
  color: black;
}
.mat-button-toggle-appearance-standard  {
  line-height: 30px !important;
}
.mat-button-toggle-group {
  background-color: $brand-color;
  line-height: 30px;
}

.games-button button:active{
  font-weight: 800;
}

.fill-space {
  flex: 1 1 auto;
}

h2 {
  color: $brand-color;
  background-color: transparent; //$background-color;
  font-variant: small-caps;
  font-size: $heading-font-size;
  font-weight: 700;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-right: 20px;
}
.seasonDescription {
  height: 30px;
  padding-left: 20px;
}
.top-menu-wrapper {
  margin-bottom: 8px;
  padding-bottom: 24px;
  border-bottom: 2px solid $brand-color;
  font-size: $wrapper-font-size;
}
.mat-form-field-wrapper {
  height:40px;
}

.mat-tab-label.label .mat-tab-label-content.label{
  color:$color !important;
  font-size: 1.1rem;
}

