<div class="top-menu-wrapper">
  <div class="seasonDescription">
    <h2 class="col-12" >{{ seasonDescription }}</h2>
  </div>
  <div class="row mt-2">
    <div class="col-sm-4 col-12">
      <mat-toolbar>
        <div>
          <mat-tab-group animationDuration="2000ms" (selectedTabChange)="onTabChanged($event)">
            <mat-tab label="Schedule" class="label" routerLink="/games/schedule"></mat-tab>
            @if (hasPlayoffs) {
              <mat-tab label="Playoffs" routerLink="/games/playoffs"></mat-tab>
            }
            <mat-tab label="Standings" routerLink="/games/standings"></mat-tab>
          </mat-tab-group>
        </div>
      </mat-toolbar>
    </div>
    <div class="col-sm-2 col-0"></div>
    <div class="col-sm-6 col-12">
      <mat-toolbar>
        <csbc-game-filter
          [divisions]="divisions"
          [teams]="teams"
          class=""
        ></csbc-game-filter>
      </mat-toolbar>
    </div>
  </div>
</div>
