<<div class="container mx-auto w-full">
  <div>
    <csbc-shell-title [title]="pageTitle"></csbc-shell-title>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div id="panelContent" class="row">
        <app-admin-seasons-toolbar />
      </div>
      <h2>Seasons</h2>
      <csbc-admin-season-list />
    </mat-sidenav-content>
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" position="end">
      <div class="sidenav-content">
        <h3>
          Details for
          {{ selectedSeason()}}
          Season
        </h3>
        <button mat-icon-button (click)="closeSidenav()">
          <mat-icon>close</mat-icon>
        </button>
        <admin-season-add />
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
  </div>
  </div>
  </div>
