.people-filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0;
}

.alphabetical-filter {
  width: 100%;
}

.filter-field {
  flex: 1;
  min-width: 200px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-top: -8px;
}

@media (max-width: 768px) {
  .filter-field {
    width: 100%;
  }

  .checkbox-field {
    margin-top: 0;
  }
}
