<form [formGroup]="gameEditForm" class="form-container" (ngSubmit)="onSave()">
  <mat-card>
    <!-- <mat-card-title>Game Details</mat-card-title> -->
    <mat-card-content>
      <div class="flex">
        <div class="flex-1">
          <mat-form-field
            class="form-control custom-background"
            appearance="fill"
          >
            <mat-label>Game Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              value="gameDate"
              formControlName="gameDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex-1">
          <mat-form-field class="form-control" appearance="fill">
            <mat-label>Game Time</mat-label>
            <input
              matInput
              [matTimepicker]="minutesPicker"
              formControlName="gameTime"
            />
            <mat-timepicker-toggle matIconSuffix [for]="minutesPicker" />
            <mat-timepicker interval="5min" #minutesPicker />
            <!-- <input matInput value="gameTime" formControlName="gameTime" /> -->
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1">
          <mat-form-field class="form-control" appearance="fill">
            <mat-label>Location</mat-label>
            <!-- <input matInput value="locationName" formControlName="locationName" />
          -->
            <mat-select formControlName="locationName" class="form-control">
              @for(location of locations; track location) {
              <mat-option [value]="location.locationNumber">
                {{ location.locationName }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1">
          <mat-form-field class="form-control" appearance="fill">
            <mat-label>Visitor Team</mat-label>
            <mat-select formControlName="visitorTeam" class="form-control">
              @for(team of divisionTeams(); track team) {
              <mat-option [value]="team.teamId">
                {{ team.teamName }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-1">
          <mat-form-field class="form-control" appearance="fill">
            <mat-label>HomeTeam</mat-label>
            <mat-select formControlName="homeTeam" class="form-control">
              @for(team of divisionTeams(); track team) {
              <mat-option [value]="team.teamId">
                {{ team.teamName }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="Primary"
        type="submit"
        [disabled]="!gameEditForm.valid || !gameEditForm.dirty"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="Primary"
        type="button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- divisionId(pin):4126
companyId(pin):null
seasonId(pin):2204
divisionDescription(pin):"SI BOYS"
gameDate(pin):"2021-12-06T18:00:00"
gameTimeString(pin):"1899-12-30 18:00:00"
gameTime(pin):"1899-12-30T18:00:00"
locationName(pin):"Gym East"
gameNumber(pin):1
visitingTeamNumber(pin):61
homeTeamNumber(pin):18
visitingTeamSeasonNumber(pin):12
homeTeamSeasonNumber(pin):3
visitingTeamName(pin):"WHITE (12)"
homeTeamName(pin):"ROYAL BLUE (03)"
scheduleNumber(pin):74
homeTeamScore(pin):21
visitingTeamScore(pin):22
gameDescription(pin):null
visitingTeamId(pin):7498
homeTeamId(pin):7486
gameType(pin):0
 -->
