// @use '../../../../../Content/variables' as v;
@use '../../../../Content/variables' as v; ;

:host {
  font-size: 1rem;
}

.standard-field-width {
  padding-right: 12px;
}
.full-width {
  width: 98%;
}
.sequenceWidth {
  width: 25%;
}
button {
  padding-right: 12px;
}
.mat-icon-button {
  background-color: v.$card-background-color;
  color: v.$card-color;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
h2 {
  color: v.$color;
}
input {
  background-color: v.$card-background-color;
}
