@import '../../../../content/_variables';

.panel-primary .panel-body{
    background-color: gray;
    border-color: gray;
    box-shadow: 2px gray;
    color: white;
    border-radius: 10px; 
}

.gameTime {
    color: white;
} 
.data {
    font-weight:700;
}