@import '../../../../../content/_variables';

fieldset {
  background-color: darken($card-background-color, 30%);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $field-label;
}
h2 {
  color: $field-label;
  font-size: 1.5em;
  padding-bottom: 6px;
  padding-left: 12px;
}

input, textarea.mat-input-element{
  background-color: $card-background-color;
  padding-top: 12px;
  padding-bottom:12px;
  padding-left: 12px;
}
textarea {
  background-color: $card-background-color;
  padding-top: 12px;
  padding-bottom:12px;
  padding-left: 12px;
}

.standard-field-width {
  padding-right: 12px;
}
.full-width {
  width: 98%;
}
.sequenceWidth {
  width: 25%;
}
button {
  padding-right: 12px;

}
.mat-card {
  background-color: $card-background-color;
  color: $card-color;
}
.mat-icon-button {
  background-color: $card-background-color;
  color: $card-color;
}

.mat-form-field-appearance-legacy .mat-form-field-label .mat-select-placeholder {
  color: $field-label !important;
}
.mat-form-field-label-wrapper {
  color: $field-label;
} 
.mat-input {
  color: $field-label !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: $field-label !important;
}