@use '../../Content/variables' as v;

.mat-sidenav {
  color: white;
}
.mat-list-item-content {
  color: white;
  font-size: 1.1em;
}
.mat-toolbar {
  background-color: transparent;
  padding-bottom: 20px;
 }

.main {
  padding: 10px 10px 0 10px;
}
input, textarea {
  font-size: v.$table-font-size;
  padding-top: 12px;
  padding-bottom:12px;
  padding-left: 12px;
  background-color: lighten(v.$admin-background-color, 5%);
  color: v.$field-label;
}

.mat-form-field.mat-label,  input.mat-form-field-label {
  font-size: 1.1rem !important;
  color: v.$field-label;
}

.mat-form-field + .mat-form-field.mat-form-field-label {
  color: v.$field-label;
  font-size: 1.4rem;
}

.mat-input {
  color: v.$field-label !important;
  background-color: lighten(v.$admin-background-color, 5%);
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: v.$field-label !important;
}
label {
  font-size: 1.2rem;
  color: v.$field-label;
}
.mat-label {
  color: v.$field-label;
}

.mat-table {
  width: 100%;
}
fieldset {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: v.$field-label;
}
button {
  margin-right: 12px;
}

nav.sidebar {
  background-color: lighten(v.$background-color, 12%);
  color: white;
  border: 0;
  height: 100%;
}
.navbar-default > li a {
  color: white;
}

.navbar-nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  font-size: 1.2em;
}

li.subheading {
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1em;
  background-color: gray;
}

li > th {
  background-color: black;
  color: white;
}
tbody {
  color: white;
  background-color: v.$table-body-color;
}
td {
  color: white;
}

table .table .table-responsive .table-condensed {
  border-radius: 5px;
}

@media (min-width: 765px) {
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }
  .navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }
  nav.sidebar:hover + .main {
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand,
  nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a {
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li {
    // border-bottom: 1px #e5e5e5 solid;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  nav.sidebar {
    height: 100%;
    // margin-left: -160px;

    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover {
    margin-left: 0px;
  }

  .forAnimate {
    opacity: 0;
  }
}

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  nav.sidebar {
    margin-left: 0px;
    float: left;
  }

  nav.sidebar .forAnimate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ccc;
}

nav:hover .forAnimate {
  opacity: 1;
}
section {
  padding-left: 15px;
}

div {
  color: v.$brand-color;
}
.sectionTitle {
  font-size: 1.2em;
  font-weight: 700px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: v.$card-background-color;
}
.content-wrapper {
  margin-right: 12px;
}
.mat-table {
  background-color: black;
  font-size: 1em;
}

tbody {
  color: white;
}

table .table .table-responsive .table-condensed {
  border-radius: 5px;
}
div {
  color: v.$brand-color;
}
.mat-card {
  background-color: v.$admin-card-background-color
}
.mat-card-title, h2 {
  color: v.$field-label;
  font-size: 1.5em;
  padding-bottom: 6px;
  padding-left: 12px;
}
.mat-raised-button .mat-button {
  background-color: v.$brand-color;
  color: white;
}
.mat-cell,
.mat-header-cell {
  font-size: 1.1em;
}
.mat-cell {
  // display:block; // flex prevents padding from working
  // min-height:auto; // overrides the 'inherit' that set the min height of the row
  padding: 12px 8px 12px 4px;
}

.mat-select-value {
  color: v.$admin-font-color;
  font-size: .9rem !important;
}

.mat-select-value-text {
  color: v.$admin-font-color;
  font-size: .9rem !important;
}

.ng-star-inserted {
  color: v.$basketball-color;
}
.mat-checkbox {
  background-color: v.$card-background-color;
  color: v.$admin-font-color;
}

.mat-raised-button {
  background-color: v.$brand-color;
  color:white;
}

.form-control {
  background-color: v.$admin-table-background-color;
  color: v.$admin-font-color;
  border-color: v.$admin-table-background-color-border;
  font-size:1.2em;
}
.row-is-clicked {
  font-weight: bold;
}

tr.mat-header-row {
  height:24px;
  border-bottom: .5px solid gray;
  font-size: 1.4em;
  font-weight: 800;
}
tr.mat-row {
  height:24px;
  font-size: 1.1em;
  font-weight: 500;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom:40px;
}
.mat-hint {
  font-size: v.$admin-input-hint-font-size;
  color: v.$admin-input-hint-color;
}
.mat-datepicker {
  color: v.$admin-input-hint-color;
}
