@use "sass:color";
@use "./../../Content/variables" as v;

:host {
  font-size: 1rem;
}

.mat-sidenav {
  color: white;
  background-color: v.$admin-card-background-color;
}

.mat-list-item-content {
  color: white;
  font-size: 1rem;
}

.mat-toolbar {
  background-color: v.$admin-background-color;
  padding-bottom: 4px;
  padding-top: 8px;
  height: 80px;
}

.main {
  padding: 10px 10px 0 10px;
}

input,
textarea {
  font-size: v.$input-font-size;
  background-color: #1a1a1a;
  color: rgb(220, 216, 216);
  padding-left: 12px;
  color: v.$field-label;
}

.mat-form-field {
  background-color: #333333;
}
.mat-form-field.mat-label,
input.mat-form-field-label {
  font-size: 0.7rem !important;
  color: v.$field-label;
}

.mat-form-field + .mat-form-field.mat-form-field-label {
  color: v.$field-label;
  font-size: 1rem;
}
.mdc-icon-button {
  color: v.$field-label;
}
.mat-input {
  color: v.$field-label !important;
  background-color: color.adjust(v.$admin-background-color, $lightness: 5%);
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: v.$field-label !important;
}

label {
  font-size: 1rem;
  color: v.$field-label;
}

.mat-label {
  color: v.$field-label;
}

fieldset {
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: v.$field-label;
}

button {
  margin-right: 12px;
}

nav.sidebar {
  background-color: color.adjust(v.$background-color, $lightness: 12%);
  color: white;
  border: 0;
  height: 100%;
}

.navbar-default > li a {
  color: white;
}

.navbar-nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  font-size: 1.2em;
}

li.subheading {
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1rem;
  background-color: gray;
}

li > th {
  background-color: black;
  color: white;
}

tbody {
  color: white;
  background-color: v.$table-body-color;
}

td {
  color: white;
}

table .table .table-responsive .table-condensed {
  border-radius: 5px;
}

@media (min-width: 765px) {
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }

  .navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }

  nav.sidebar:hover + .main {
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand,
  nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a {
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li {
    // border-bottom: 1px #e5e5e5 solid;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  nav.sidebar {
    height: 100%;
    // margin-left: -160px;

    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover {
    margin-left: 0px;
  }

  .forAnimate {
    opacity: 0;
  }
}

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  nav.sidebar {
    margin-left: 0px;
    float: left;
  }

  nav.sidebar .forAnimate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ccc;
}

nav:hover .forAnimate {
  opacity: 1;
}

div {
  color: v.$brand-color;
}

.sectionTitle {
  font-size: 1.2em;
  font-weight: 700px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: v.$card-background-color;
}

.content-wrapper {
  margin-right: 12px;
}

.mat-table {
  font-size: 1em;
  width: 100%;
  display: table;
  border-spacing: 0 2px !important;
  border-collapse: separate;
  background-color: transparent;
}
.mat-selection-list {
  height: 420px;
  overflow: auto;
}

div {
  color: v.$brand-color;
}

h2 {
  color: v.$field-label;
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 6px;
  padding-left: 12px;
}
h3 {
  color: v.$field-label;
  font-size: 1.1rem;
  font-weight: 800;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #1a1a1a;
  text-align: center;
}

.mat-list-text {
  font-size: 0.8rem;
  font-weight: 400;
}
.mat-raised-button .mat-button,
button {
  background-color: v.$brand-color;
  color: white;
}

.ng-star-inserted {
  color: v.$admin-font-color;
}

.mat-checkbox,
.mdc-checkbox {
  background-color: v.$card-background-color;
  color: v.$admin-font-color;
}

.mat-raised-button,
button {
  background-color: v.$brand-color;
  color: white;
}

.form-control .mat-input-element {
  background-color: green;
  font-size: 1.1rem;
}
.form-control {
  background-color: transparent;
  color: v.$admin-font-color;
  border-color: v.$admin-table-background-color-border;
  font-size: 1.1rem;
}
.table-wrapper {
  // background-color: v.$table-body-color;
  // padding: 12px;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.row-is-clicked {
  font-weight: bold;
}
.no-data {
  color: v.$admin-font-color;
  font-size: 1.1rem;
}

.mat-mdc-card-content {
  display: block;
  padding: 0;
}
td.mat-cell:first-child {
  // border-left: .5px solid v.$brand-color;
  // border-bottom-left-radius: 10px;
  // border-top-left-radius: 10px;
  padding-left: 10px;
  margin-left: 10px;
}
td.mat-cell:last-child {
  // border-right: .5px solid v.$brand-color;
  // border-bottom-right-radius: 10px;
  // border-top-right-radius: 10px;
  margin-right: 10px;
}

table {
  border-spacing: 0 1px !important;
  border-collapse: separate;
  width: 100%;
  background-color: transparent;
}

.mat-hint {
  font-size: v.$admin-input-hint-font-size;
  color: v.$admin-input-hint-color;
}

.mat-datepicker {
  color: v.$admin-input-hint-color;
}

.counter {
  padding-left: 20px;
}

.container {
  background-color: v.$table-background-color;
  border-radius: v.$border-radius;
}
