<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <season-select></season-select>
    </div>
    <div class="col-4">
      <division-select></division-select>
    </div>
    <div class="col-3">
    <!-- <mat-toolbar>
      <button mat-raised-button (click)="newTeam()">New</button>
    </mat-toolbar> -->
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-admin-team-list></app-admin-team-list>
    </div>
    <div class="col-6">
      <app-admin-team-detail></app-admin-team-detail>
    </div>
  </div>
</div>
