@import '../../../../content/_variables';

:root {
  --color-primary: blue;
  --background-color: blue;

}

.table-wrapper {
  width:100;
}

.gametime {
  color: $brand-color;
  font-weight: 600;
  font-size: 1.4em;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  min-width: 30px;
}

.mat-table {
  background-color: red;
  background-color: var(--background-color); //$background-color;
  color: $color;
  border-radius: 10px;
}
.mat-table tr {
  color: $color;
}
.mat-table tr th {
  color: $color;
  font-weight: 700;
  font-size: $table-font-size;
}
.mat-table  .mat-header-row {
  // border-bottom-width: thin;
  // border-bottom-style: solid;
  // border-bottom-color: white;
  height: 32px;
  border-collapse: collapse;
  border-spacing: 2px;
  background-color: $card-background-color;
  position: static;
  // line-height
}
.mat-row {
  height: 40px;
}
.mat-table tr td {
  color: $color;
  font-weight: 400;
  font-size: $table-font-size;
}

.mat-column-gameTime, .mat-column-locationName, .mat-column-homeTeamScore, .mat-column-visitingTeamScore, .mat-column-actions     {
  word-wrap: break-word !important;
  flex: 0 0 28% !important;
  width: 15%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-visitingTeam, .mat-column-homeTeam {
  word-wrap: break-word !important;
  flex: 0 0 28% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-gameDescription {
  color: $brand-color;
  font-weight: 400;
  font-size: 1.4em;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  width: 25%;
}
