<csbc-list-page-shell [title]="'Sponsors'" [count]="filteredSponsors().length">
  <div filter>
    <csbc-sponsor-filters
      [filters]="filters()"
      (filterChange)="onFilterChange($event)"
    />
  </div>

  <div actions>
    <button type="button" mat-raised-button color="primary" (click)="onNewClick()">
      <mat-icon>add</mat-icon> New
    </button>
  </div>

  <app-generic-mat-table
    list
    [columns]="columns"
    [data]="filteredSponsors()"
    (rowClick)="onRowClick($event)"
  />
</csbc-list-page-shell>
