#banner {
    width: 620px;
    height: 326px;
    margin-bottom: 5px;
    background: url(/images/banner.jpg) top left no-repeat;
  }
  
#bannerContent {
    padding: 260px 30px 0 30px;
    color: #fff;
    font-size: 11px;
  }

#bannerContent a {
    color: #ef6c15;
    text-decoration: underline;
    font-weight: bold;
  }

  #bannerContent a:hover {
    color: #ffffff;
  }
