@import "../../Content/_variables";

.row {
  margin-top: 12px;
  margin-bottom: 12px;
}

.container {
  margin-top: 24px;
}

.list-group-item {
  background-color: $card-background-color;
  color: whitesmoke;
}

a {
  background-color: $card-background-color;
  color: whitesmoke;
}
.mat-card {
  background-color: $card-background-color;
  color: whitesmoke;
}

.message {
  color: $font-color-text;
  align-content: center;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}
