@use "../../Content/_variables" as v;

.container {
  margin-top: 24px;
}

.list-group-item {
  background-color: v.$card-background-color;
  color: whitesmoke;
}

a {
  background-color: v.$card-background-color;
  color: v.$link-color;
  font-size: 1.2rem;
  font-style: normal;
  text-decoration: none;
}
a:hover {
  font-size: 1.3rem;
}
.mat-card {
  background-color: v.$card-background-color;
  color: whitesmoke;
}
.mat-card-title {
  font-size: 1.2rem;
}
