<div>
  <mat-form-field>
    <mat-label>Division</mat-label>
    <mat-select
      placeholder="Select Division"
      [(value)]="selectedDivision"
        (selectionChange)="divisionSelected($event)"
    >
    @for (division of divisionService.standardDivisions(); track division) {
      <mat-option [value]="division"> {{ division}} </mat-option>
    }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      id="name"
      type="text"
      formControlName="name"
      value="selectedDivision().divisionDescription"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addDivision()">Add Division</button>
  <button mat-raised-button color ="primary" (click)="cancel()">Cancel</button>
</div>
