@use '../../../../content/variables' as v;

:root {
  --color-primary: blue;
  --background-color: blue;

}

.gamedate {
  color: v.$brand-color;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  letter-spacing: 2px;
}

.mat-table {
  background-color: red;
  background-color: var(--background-color); //$background-color;
  color: v.$color;
  // border-radius: 10px;
  width: 100%;
}

.mat-table tr {
  color: v.$color;
}

.mat-table tr th {
  color: v.$color;
  font-weight: 600;
  font-size: v.$table-font-size;
}

.mat-table .mat-header-row {
  height: 32px;
  border-collapse: collapse;
  border-spacing: 2px;
  background-color: v.$card-background-color;
  position: static;
  // line-height
}

.mat-row {
  height: 40px;
}

.mat-table tr td {
  color: v.$color;
  font-weight: 400;
  font-size: v.$table-font-size;
}

.mat-column-gameTime,
.mat-column-locationName,
.mat-column-homeTeamScore,
.mat-column-visitingTeamScore,
.mat-column-actions {
  word-wrap: break-word !important;
  flex: 0 0 28% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-right: 10px;
}

.mat-column-gameTime {
  width: 10% !important;
}

.mat-column-visitingTeam,
.mat-column-homeTeam {
  word-wrap: break-word !important;
  flex: 0 0 28% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
