<section class="daily-schedule">
  @if (gameDate()) {
    <div class="gamedate">{{ gameDate() | date: 'EEEE, MMMM d' }}</div>
  }
  <div class="games-list">
    @for (game of sortedGames(); track game.scheduleGamesId) {
      <div class="game-card">
        <div class="game-rows">
          <div class="game-row">
            <span class="col-meta">{{ game.gameTime | date: 'shortTime' }}</span>
            <span class="col-team">{{ game.visitingTeamName }}</span>
            <span class="col-score">{{ game.visitingTeamScore !== -1 || game.homeTeamScore !== -1 ? game.visitingTeamScore : '' }}</span>
          </div>
          <div class="game-row">
            <span class="col-meta col-location">{{ game.locationName }}</span>
            <span class="col-team">{{ game.homeTeamName }}</span>
            <span class="col-score">{{ game.visitingTeamScore !== -1 || game.homeTeamScore !== -1 ? game.homeTeamScore : '' }}</span>
          </div>
        </div>
        @if (canEdit()) {
          <div class="game-actions">
            <button mat-icon-button (click)="editGame(game)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        }
      </div>
    }
  </div>
</section>
