<div class="container mx-auto w-full">
  <div>
    <csbc-shell-title [title]="pageTitle"></csbc-shell-title>
  </div>
  <mat-sidenav-container class="sidenav-container" style="height: 820px;">
    <!-- Main Content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-raised-button (click)="newGame()">New</button>

          <season-select></season-select>
          <game-type-select></game-type-select>
          <division-select></division-select>
      </mat-toolbar>
      <div class="row">
        <div class="col-8">
          <csbc-admin-games-list *ngIf="showRegularSeason" [showScores]="true"></csbc-admin-games-list>
          <csbc-admin-games-playoffs-list *ngIf="showPlayoffs"></csbc-admin-games-playoffs-list>
        </div>
      </div>
    </mat-sidenav-content>>
    <!-- Side Panel for Details -->
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" position="end">
      <div class="sidenav-content">

        <admin-game-detail></admin-game-detail>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
