@use "variables" as v;

.games-list {
  padding: 0 8px 8px;
}

.game-card {
  display: flex;
  align-items: center;
  padding: 4px 4px;

  &:last-child {
    border-bottom: none;
  }
}

.game-rows {
  flex: 1;
  min-width: 0;
  border-bottom: 0.5px solid v.$table-border-color;
  padding-bottom: 8px;
}

.game-row {
  display: grid;
  grid-template-columns: 9rem 1fr 2rem;
  align-items: center;
  column-gap: 8px;
  padding-left: 12px;
  height: 24px;

  @media (min-width: 768px) {
    grid-template-columns: 10rem 240px 50px;
    column-gap: 12px;
    padding-left: 24px;
  }
}

.col-meta {
  color: v.$table-font-color;
  font-size: v.$table-font-size;
  white-space: nowrap;
}

.col-location {
  color: v.$table-font-color;
  font-size: 0.9rem;
  font-weight: 500;
}

.col-team {
  color: v.$table-font-color;
  font-size: v.$table-font-size;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-score {
  color: v.$table-font-color;
  font-size: v.$table-font-size;
  font-weight: 300;
  text-align: right;
}

.game-actions {
  flex-shrink: 0;
  margin-left: 4px;
}
