@use 'variables' as v;

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mat-toolbar {
  height: 80px;
}
h2 {
  font-weight: 800 !important;
  font-size: 1.4rem  !important;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
