@import '../../../content/_variables';

.wrapper {
  background-color: $background-color;
}
.mat-sidenav-container {
  background-color: $background-color;
}
.mat-toolbar {
  background-color: $card-background-color;
}
a {
  font-size: 1.2em;
  font-weight: 600;
  color: $navbar-color;
}

ul > li {
  display: inline-block;
  padding: 4% 4%;
  width: 30%;
}
.fill-space {
  flex: 1 1 auto;
}

.navbar-brand {
  color: #e9e3d6;
  font-size: 1.4em;
  font-weight: 800;
}

.navbar {
  background-color: $navbar-background-color;
  color: $navbar-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar-inverse {
  background-color: $navbar-background-color;
}

.navbar-inverse .navbar-brand {
  color: $navbar-background-color;
}
.navbar-inverse .navbar-nav li a {
  color: $navbar-color;
}
.navbar-inverse .navbar-nav .active > a {
  background-color: $navbar-background-color;
  color: white;
}
.navbar-inverse .navbar-nav .active:hover > a {
  background-color: $navbar-background-color;
  color: white;
}
.navbar .brand-title {
  margin-left: 2em;
  color: $navbar-color;
}

.navbar-logo img {
  height: 20px;
}
.mat-toolbar {
  font-size: 0.9em;
}
p {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}
button {
  background-color: $brand-color;
  font-weight: 600;
}
.menu-button {
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
}
