<div class="player-list-container">
  <!-- Selectors -->
  <div class="flex gap-4 shrink-0">
    <div class="flex-1">
      <season-select />
    </div>
    <div class="flex-1">
      <division-select />
    </div>
  </div>

  <!-- Main content: table + side panel -->
  <div class="flex gap-4 flex-1 min-h-0">
    <!-- Player Table -->
    <div class="flex flex-col flex-1 min-w-0 min-h-0">
      @if (isLoading) {
      <div class="flex justify-center items-center p-8">
        <mat-spinner></mat-spinner>
      </div>
      }

      @if (!isLoading) {
      <div class="mat-elevation-z8 flex flex-col flex-1 min-h-0">
        <app-generic-mat-table
          list
          [columns]="columns"
          [data]="dataSource.data"
          [pageSize]="pageSize"
          pageSizeKey="hoops.pageSize.playerRegistrationList"
          (rowClick)="onRowClick($event)"
        />
      </div>
      }
    </div>

    <!-- Eligible & Unregistered Side Panel -->
    <div class="w-72 shrink-0 flex flex-col min-h-0">
      <csbc-eligible-persons-panel
        [division]="divisionService.selectedDivision()"
        [registeredPersonIds]="registeredPersonIds()"
        (personSelected)="onEligiblePersonClick($event)"
      />
    </div>
  </div>
</div>
