@import '../../../../content/_variables.scss';

.filter-wrapper {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: transparent;
  color: white;
  margin-left: 20px;
  margin-right: 24px;
  float: right;
}
.filter-divisions {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: transparent;
  color: white;
  float: right;
  font-size: .7em;
}

.mat-form-field-type-mat-select .mat-form-field-label {
  font-size: 1em;
  color: white;  
}
.mat-form-field-hide-placeholder .mat-select-placeholder {
  color: white;
}
.filterDivisions {
  height:34px;
  font-size:.9em;
}
label {
  color: white;
}
::ng-deep .mat-select-content{
  width:200px;
  background-color: rgb(156, 72, 16);
  font-size: 1em;   
}
.mat-button, .mat-raised-button {
  font-size:.7em;
}
.mat-button.color, .mat-raised-button.color {
  font-size:.7em;
}
.mat-form-field-label .mat-select-placeholder {
  color: pink !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: blue;
}
