  <form [formGroup]="criteriaForm">
    <div class="filter-divisions" fxLayout="row wrap" fxLayoutGap="2px" >
      <div fxFlex="40">
        <mat-form-field>
          <mat-select
            formControlName="divisions"
            style="color:white;font-size:1em;"
          >
            <mat-option
              *ngFor="let division of divisions$ | async"
              [value]="division"
              (click)="divisionSelected(division)"
            >
              {{ division.div_Desc }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <!-- <div fxFlex="20">
        <mat-form-field>
          <mat-select placeholder="Team" formControlName="teams">
            <mat-option *ngFor="let team of teams" value="team">
              {{ team.teamName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="15" style="padding-top:16px;">
        <mat-checkbox [checked]="showAllTeams">All Teams</mat-checkbox>
      </div> -->
      <!-- <div *ngFor="let division of divisions">
        <button mat-button (click)="changeDivision(division)">{{division.div_Desc}}</button> 
      </div> -->

      <!-- <div fxFlex="">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="list" routerLinkActive="active">
            List View
          </button>
          <button mat-menu-item routerLink="card" routerLinkActive="active">
            Card View
          </button>
          <button
            mat-menu-item
            routerLink="standings"
            routerLinkActive="active"
          >
            Standings
          </button>
        </mat-menu>
      </div> -->
    </div>
    <!-- </mat-toolbar> -->
  </form>

