@import '../../../../Content/variables';

.admin-container {
  // border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: transparent;
  color: $table-body-color;
  // border-right: $brand-color solid 1px; ;
  font-size: 1.2rem;
}

.admin-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.mat-list-item-content {
  font-size: 1.4em;
}
a.mat-list-item {
  color: $font-color-text;
  font-size: 1.1rem;
}
.mat-list-text {
  color: $font-color-text;
  font-size: 1.2rem;
}

.container {
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}
.mat-divider {
  background-color: $color;
}
.row {
  margin-top: 20px;
}
.nav-wrapper {
  margin-bottom: 12px
}
