@use  '../../../../Content/variables' as v;

body {
  background-color: v.$black;

}

.admin-container {
  // border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: v.$black;
  color: v.$table-body-color;
  // border-right: v.$brand-color solid 1px; ;
  font-weight: 400;
}

.admin-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.container {
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}


.row {
  margin-top: 20px;
}

.nav-wrapper {
  margin-bottom: 12px
}

.mat-drawer-content {
  overflow: hidden;
}
.mat-mdc-icon-button:disabled {
  color: v.$color;
}

.mat-mdc-icon-button:disabled {
  color: darken(v.$color , 20%);
}


