@use "sass:color";
@use "../../../../Content/variables" as v;

body {
  background-color: v.$admin-background-color;
}

.admin-container {
  // border-radius: 10px;
  padding-left: 2px;
  padding-right: 10px;
  margin-right: 4px;
  margin-left: 1px;
  background-color: v.$black;
  color: v.$table-body-color;
  // border-right: $brand-color solid 1px; ;
  font-size: 1.2rem;
  height: 100%;
}

.admin-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.mat-list-item-content {
  font-size: 1.4rem;
}

a.mat-list-item,
.mdc-list-item__primary-text {
  color: v.$font-color-text;
  font-size: 0.5rem !important;
  font-weight: 600;
}
.mdc-list-item__primary-text {
  color: v.$font-color-text;
  font-size: 0.8rem !important;
  font-weight: 600;
}

.mat-list-text {
  color: v.$font-color-text;
  font-size: 1.8rem !important;
}

// .container {
//   margin-left: 0px;
//   padding-left: 0px;
//   width: 100%;
// }

.mat-divider {
  background-color: v.$color;
}

.row {
  margin-top: 20px;
}

.nav-wrapper {
  margin-bottom: 12px;
}

.active {
  border-bottom: v.$brand-color;
  transform: scale(1.1);
  transition: border-bottom 0.3s ease color 0.3s ease, transform 0.3s ease;
  padding-left: 24px;
  font-weight: 700;
  background-color: v.$sidebar-color;
  color: v.$sidebar-menu;
}
.mat-drawer-content {
  overflow: hidden;
  background-color: v.$admin-card-background-color;
}
.mat-mdc-icon-button:disabled {
  color: v.$color;
}

.mat-mdc-icon-button:disabled {
  color: color.adjust(v.$color, $lightness: -20%);
}
