<mat-card>
  <mat-card-header>
    <mat-card-title>Season Detail</mat-card-title>
  </mat-card-header>
  <form
    class="form-horizontal"
    novalidate
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
  >
    <mat-card-content>
      <fieldset>
        <div class="row">
          <div class="col-10">
            <!-- <mat-form-field> -->
            <!-- <mat-label>{{ title }}</mat-label> -->
            <h2>{{ title }}</h2>
            <!-- </mat-form-field> -->
            <mat-form-field>
              <mat-label>Season Name</mat-label>
              <input
                matInput
                id="optionalname"
                type="text"
                formControlName="name"
                value="name"
              />
            </mat-form-field>
            <div class="row">
              <div class="col-5">
                <mat-form-field>
                  <mat-label>Season Start</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                  <mat-hint>Select the start date for the season</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field>
                  <mat-label>Season End</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field>
                  <mat-label>Player Fee</mat-label>
                  <span matTextPrefix>+1 &nbsp;</span>
                  <input
                    matInput
                    id="playerFee"
                    type="text"
                    formControlName="playerFee"
                    value="playerFee"
                  />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field>
                  <mat-label>Sponsor Fee</mat-label>
                  <span matTextPrefix>+1 &nbsp;</span>
                  <input
                    matInput
                    id="sponsorFee"
                    type="text"
                    formControlName="sponsorFee"
                    value="sponsorFee"
                  />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field>
                  <mat-label>Sponsor Discount</mat-label>
                  <input
                    matInput
                    id="sponsorDiscount"
                    type="text"
                    formControlName="sponsorDiscount"
                    value="sponsorDiscount"
                  />
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field>
                  <mat-label>Online Start</mat-label>
                  <input
                    matInput
                    [matDatepicker]="onlineStartPicker"
                    formControlName="signUpStartDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="onlineStartPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #onlineStartPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field>
                  <mat-label>Online Stop</mat-label>
                  <input
                    matInput
                    [matDatepicker]="onlineStopPicker"
                    formControlName="signUpEndDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="onlineStopPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #onlineStopPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6">
                <div class="col-11">
                  <p>
                    <mat-checkbox formControlName="currentSignUps"
                      >Current Sign Ups</mat-checkbox
                    >
                  </p>
                  <p>
                    <mat-checkbox formControlName="currentSeason"
                      >Current Season</mat-checkbox
                    >
                  </p>
                  <p>
                    <mat-checkbox formControlName="currentSchedule"
                      >Current Schedule</mat-checkbox
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="cancel()"
      >
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
