<mat-toolbar color="primary">
  <button mat-raised-button (click)="newHousehold()">New</button>

  <mat-form-field [appearance]="inputStyle">
    <mat-label htmlFor="householdName" class="field-label">Household Name</mat-label>
    <input matInput [formControl]="householdName" title="name" />
    <!-- <mat-hint>Search by household name </mat-hint> -->
  </mat-form-field>
  <mat-form-field [appearance]="inputStyle">
    <mat-label htmlFor="address" class="field-label">Address</mat-label>
    <input matInput [formControl]="address" title="address" />
    <!-- <mat-hint>Search by address </mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label class="field-label">Email</mat-label>
    <input matInput [formControl]="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label class="field-label">Phone</mat-label>
    <input matInput [formControl]="phone">
  </mat-form-field>
</mat-toolbar>
