@import '../../../../content/_variables';

h1 {
  font-size: 1.2rem;
}
.teamName {
  font-weight: 700;
  font-size: 1.1em;
}
input {
  width: 40px;
  font-size: 1.1em;
color: black;
}
form.dialog-form, .mat-dialog-container, .mat-form-field {
  background-color: $dialog-background-color;
  color: $dialog-color;
}
