@use '../../../../Content/variables' as v;

.selected-list-item {
    transform: scale(1.1);
      transition: border-bottom 0.3s ease color 0.3s ease, transform 0.3s ease;
      color: v.$brand-color !important;
      font-weight: 700 !important;
border-bottom: 1px solid v.$brand-color !important;
background-color: v.$admin-background-color;
}
h3 {
    color: v.$font-color-text;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 4px;
}
::ng-deep .mdc-list-item__content {
    color: v.$admin-font-color;
    font-size: 1.1em;
    font-weight: 300;
}
// ::ng-deep .mdc-list-item__primary-text {
//   color: yellow !important;
//   font-weight: 300 !important;
//   font-size: 1.2em !important;
// }
// ::ng-deep .mdc-list-item__primary-text:active {
//   transform: scale(1.1);
//   transition: border-bottom 0.3s ease color 0.3s ease, transform 0.3s ease;
//   padding-left: 24px;
//   color: green !important;
//   font-weight: 700 !important;

// }



a.mat-list-item {
  color: v.$font-color-text;
  font-size: 1.1em;

}


.mat-list-text {
  color: v.$font-color-text;
  font-weight: 300 !important;

}

::ng-deep .mat-divider {
  background-color: white;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;

}
