@import "../../../../content/_variables";

.sponsor-wrapper {
  padding-top: 40px;
}
.sponsor-name {
  color: $font-color-text;
  font-weight: 700;
  font-size: 2em;
  padding-top: 12px;
  padding-bottom: 20px;
}
.sponsor-phone {
  color: $font-color-text;
  font-weight: 700;
  font-size: 1.4em;
}
.sponsor-website, a {
  color: $font-color-text;
  font-weight: 500;
  font-size: 1.2em;
}
