@import '../../../../content/_variables';
.gamedate {
  color: $brand-color;
  font-weight: 600;
  font-size: 1.1em;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  // border-bottom-width: thin;  
  // border-bottom-style: solid;
  // border-bottom-color: white;

}
.mat-table {
  background-color: black;
  color: $color;
  border-radius: 10px;
  width: 100%;
}
.mat-table tr {
  color: $color;
}
.mat-table tr th {
  color: $color;
  font-weight: 700;
  font-size:.9em;
}
.mat-table  .mat-header-row {
  border-bottom-width: thin;  
  border-bottom-style: solid;
  border-bottom-color: white;
  height: 30px;
  border-collapse: collapse;
  border-spacing: 2px;
  background-color: $card-background-color;
  position: static;
  // line-height
}
.mat-row {
  height: 30px;
}
.mat-table tr td {
  color: $color;
  font-weight: 500;
}
