@use "variables" as v;
h2 {
  padding-top: 4px;
  color: v.$brand-color;
  text-align: center;
  margin-bottom: 4px;
}

.container {
  background-color: v.$table-background-color;

  @media (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
}
