@use 'sass:color';
@use '../../content/_variables' as v;


.row {
    margin: auto;
    width: 90%;
}
.table {
  border-top: 1px solid color.adjust(v.$app-bar-background, $lightness: 10%);
}
td{
  color: v.$brand-color;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.1em;
}

.panel-title {
  color: v.$brand-color;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.4em;
  background-color: v.$app-bar-background;
}

.panel-heading{
  margin-top: 20px;
  margin-bottom: 16px;
  background-color: v.$app-bar-background;
}
.panel-body {
  background-color: v.$app-bar-background;
}

.panel {
  background-color: color.adjust(v.$app-bar-background, $lightness: 20%);
  border-radius: 5px;
  border-color: color.adjust(v.$app-bar-background, $lightness: -5%);
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 4px;
}
