<div class="container">
  <div class="row">
    <div class="table-wrapper">
      <table mat-table id="grdSchedule" matSort [dataSource]="dataSource">
        <ng-container matColumnDef="seasonId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let season">
            {{ season.seasonId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let season">
            {{ season.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell mat-sort-header  *matHeaderCellDef>From Date</th>
          <td mat-cell *matCellDef="let season">
            {{ season.fromDate | date : "shortDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="toDate">
          <th mat-header-cell mat-sort-header  *matHeaderCellDef>To Date</th>
          <td mat-cell *matCellDef="let season">
            {{ season.toDate | date : "shortDate" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns" matHeaderRowDefSticky="true"></tr>
        <tr mat-row *matRowDef="let row;
        columns: displayColumns" (click) = "edit(row)"></tr>
      </table>
      <mat-paginator #seasonPaginator aria-label="Select page of users"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons">
      </mat-paginator>
    </div>
  </div>
</div>
